.split-fill {
  width: 100%;
  height: 100%;
}

.split-inherit {
  width: inherit;
  height: inherit;
}

split-container {
  display: flex;
  position: relative;
  flex-direction: row;
}

split-container[split-direction="column"] {
  flex-direction: column;
}

split-container[split-direction="row-reverse"] {
  flex-direction: row-reverse;
}

split-container[split-direction="column-reverse"] {
  flex-direction: column-reverse;
}

split-container .splitter {
  position: absolute;
}
split-container .splitter:hover {
  cursor: w-resize;
}
